/*
  GLOBALS
*/

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0 2.5em;
}

h1,h2,h3, #content button {
  font-family: 'Playfair Display'
}

/*
  HEADER
*/

.navbar-brand {
  margin-right: 2em;
}

.navbar-brand .navbar-item {
  padding-left: 0;
}

.logo {
  width: 30px;
  height: 30px;
  background: linear-gradient(110deg, #f28d57, red);
}

.navbar-item {
  color: #777;
  font-size: 0.8em;
}

.navbar-item:not(:last-child) {
  margin-right: 1em;
}

.search {
  font-size: 1.2em;
}

/*
  MAIN
*/

main {
  background: url('../img/bar.jpg');
  background-size: cover;
}

#content {
  padding-bottom: 5em;
}

#content button {
  padding: 1em 2em;
  border: none;
  border-radius: 0;
  background-color: #222;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1em;
}

.hero {
  padding: 3em;
  background-color: white;
}

.hero h1 {
  margin-bottom: .5em;
  font-size: 2.5em;
  color: #222;
  line-height: 1em;
}

.hero h2 {
  font-size: 1.2em;
}

.hero-text strong {
  font-weight: bold;
}

/*
  FOOTER
*/

#footer {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: whitesmoke;
  font-weight: 700;
  font-size: 0.8em;
}

#footer a {
  opacity: .8;
  font-size: 0.7em;
  color: whitesmoke;
  text-decoration: underline;
}

.song {
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 2.5em;
}

.socials a {
  color: whitesmoke;
  opacity: .8;
}

.socials .icon {
  padding: 0 .75em;
}

